body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}


.Opcao {
    display: block;
    padding: 8px;
    flex-direction: column;
}

button {
    display: block;
    flex-direction: column;
    background-color: rgb(11, 201, 11);
}

footer {
    padding-top: 40px;
}

.Comeco, .Data, .Exemplo, .Login {
    padding-right: 5px;
    padding-left: 5px;
}